extends common/page

block contents
    div.reports
        div.row.reportRow.reportsHeader
            div.col-1.center.tableExtend-4
                strong Member
            div.col-1.center.tableRemove
                strong Date
            div.col-2.center.tableExtend-4
                strong Name
            div.col-2.center.tableRemove
                strong Place
            div.col-4.center.tableRemove
                strong Address
            div.col-1.center.tableRemove
                strong Distance
            div.col-1.center.tableExtend-4
                strong Points
        div.col-12.reportBody.scrollable
