extends common/page

block contents
    div.chart
        canvas.hungryElephantChart
    hr
    div.col-12
        div.row
            div.col-2
            div.col-6
                strong Member
            div.col-4.center
                strong Count
        div.hungry-body
