extends common/page

block contents
    div.scrollable
        div.nomination-content
            div.card.bg-warning.nominations
                div.card-body
                    h5.card-title 
                        strong Hungry Elephant
                    p.card-text The winner will eat the largest number of burgers.
                    p.card-text
                        strong How to win: 
                        | register every time you eat a burger.
                        | We will count the number at the end of the year.
            div.card.bg-success.nominations
                div.card-body
                    h5.card-title
                        strong Far Away Elephant
                    p.card-text The winner will buy a burger with the furthest distance from the Vancouver office.
                    p.card-text
                        strong How to win: 
                        | buy and eat a burger at the end of the Earth and submit the burger.
            div.card.bg-info.nominations
                div.card-body
                    h5.card-title
                        strong Funniest Burger Name
                    p.card-text The winner will find the funniest name of a burger.
                    p.card-text
                        strong How to win: 
                        | find the funniest burger name on the menu. No need to eat it. Just take a picture of the name.
                        | We will vote at the end of the year.
            div.card.bg-danger.nominations
                div.card-body
                    h5.card-title
                        strong Elephant-Gourmet
                    p.card-text The winner will have the largest number of points by HUGHMETER&copy;.
                    p.card-text
                        strong How to win: 
                        | submit burgers with relevant information to help gain more points. Add a stylish picture to showcase your burger.
                        | Points will be counted at the end of the year.   
        hr
