extends common/page

block contents
    div.reports
        div.row.reportRow.reportsHeader
            div.col-3.center.tableRemove
                strong Member
            div.col-3.center.tableRemove
                strong Date
            div.col-3.center.tableExtend-6
                strong Name
            div.col-3.center.tableExtend-6
        div.col-12.reportBody.scrollable
